body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background-image: linear-gradient(to left, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    display: flex;
    justify-content: center;




}

.container {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 750px;
    height: 400px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    margin-top: 60px;
    display: flex;
    flex-wrap: nowrap;




}

.container-II {
    display: flex;
    flex-wrap: nowrap;
    width: 380px;
}


.illustration-box {
    align-self: flex-end;

    position: relative;
    bottom: 90px;
    left: -83px;
    z-index: 5;
}

.illustration-woman {

    align-items: center;
    position: relative;
    right: 230px;
    top: 50px;


}


.faq {
    margin-top: 20px;
    width: 300px;
    height: 320px;

}

.faq-information,
    {
    padding: 12px;
}

.faq-information1,
.faq-information2,
.faq-information3,
.faq-information4,
.faq-information5 {

    padding: 12px;
    border-bottom: 0.5px solid rgba(201, 184, 160);


}